@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






.transition-transform {
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.transform {
  transform: scale(1);
}

.scale-95 {
  transform: scale(0.95);
}

.scale-100 {
  transform: scale(1);
}


/*.transition-transform {*/
/*  transition: transform 0.5s ease;*/
/*}*/

/*.translate-x-full {*/
/*  transform: translateX(100%);*/
/*}*/

/*.-translate-x-full {*/
/*  transform: translateX(-100%);*/
/*}*/

/*.translate-x-0 {*/
/*  transform: translateX(0);*/
/*}*/
